<div>
  <div>
    <h1>
      Movie #<%= @the_movie.id %> details
    </h1>

    <div>
      <div>
        <a href="/movies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_movie/<%= @the_movie.id %>">
          Delete movie
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Director
      </dt>
      <dd>
        <%= @the_movie.director_id %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @the_movie.year %>
      </dd>

      <dt>
        Imdb rating
      </dt>
      <dd>
        <%= @the_movie.imdb_rating %>
      </dd>

      <dt>
        Imdb
      </dt>
      <dd>
        <%= @the_movie.imdb_id %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_movie.title %>
      </dd>

      <dt>
        Runtime
      </dt>
      <dd>
        <%= @the_movie.runtime %>
      </dd>

      <dt>
        Poster link
      </dt>
      <dd>
        <%= @the_movie.poster_link %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_movie.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit movie
    </h2>

    <form action="/modify_movie/<%= @the_movie.id %>"  method="post" >
      <div>
        <label for="director_id_box">
          Director
        </label>

        <input type="text" id="director_id_box" name="query_director_id" value="<%= @the_movie.director_id %>">
      </div>

      <div>
        <label for="year_box">
          Year
        </label>

        <input type="text" id="year_box" name="query_year" value="<%= @the_movie.year %>">
      </div>

      <div>
        <label for="imdb_rating_box">
          Imdb rating
        </label>

        <input type="text" id="imdb_rating_box" name="query_imdb_rating" value="<%= @the_movie.imdb_rating %>">
      </div>

      <div>
        <label for="imdb_id_box">
          Imdb
        </label>

        <input type="text" id="imdb_id_box" name="query_imdb_id" value="<%= @the_movie.imdb_id %>">
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_movie.title %>">
      </div>

      <div>
        <label for="runtime_box">
          Runtime
        </label>

        <input type="text" id="runtime_box" name="query_runtime" value="<%= @the_movie.runtime %>">
      </div>

      <div>
        <label for="poster_link_box">
          Poster link
        </label>

        <input type="text" id="poster_link_box" name="query_poster_link" value="<%= @the_movie.poster_link %>">
      </div>

      <button>
        Update movie
      </button>
    </form>
  </div>
</div>

<hr>
